
body {
    background: #ccc;
}

span{
    color: red;
}

#form-control {
    background: #EDEDED;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 200px;
    width: 400px;
    height: 200px;
    font-size: 20px;
    color: #565656;
    padding-top: 10px;
    padding-left: 20px;
}

#title {
    font-size: 25px;
    color: #494949;
    text-align: center;
}

#form-action ul li {
    list-style-type: none;

}

#form-action ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #565656;
}

#form-action ul li a:hover {
    color:red;
}

#form-footer {
    font-size: 12px;
    margin-top: 125px;
    margin-left: 200px;
}


#form-action ul li span {
    font-size:20px;
    color:black;
    font-weight:bold;
}

#btn-sbm {
    margin-top:30px;
    width:100px;
    height:30px;
    background: #F4F4F4;
    border-radius: 5px;
}

#btn-sbm:hover {
    margin-top:30px;
    width:100px;
    height:30px;
    background: #DDD;
    border-radius: 5px;
}
